<%- include('header', {title: "Voting Screen"});  -%>
    <style>
        body {
            background-color: #ffffff;
        }

        table,
        td,
        th {
            border: 0px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: separate;
            width: 100%;
            border-spacing: 30px 10px;
        }

        th,
        td {
            background-color: #ffffff;
            width: 10%;
            height: 70px;
            border: 1px solid #000;
            padding: 5px;

        }

        .clicked {
            background-image: url('/img/swastik.png');
            background-position: right;
            background-size: 64px 64px;
            background-repeat: no-repeat;
            background-color: #eaeaea;
            border-color: red;

        }

        #next_button {
            float: right;
        }
    </style>


    </head>

    <body>
        <%- include('fptp_voting_paper_nav'); -%>
            <script>

                var candidates;
                var state;
                function callback(response) {
                    candidates = response.candidates;
                    state=response.state;
                    console.log("callback function");
                    console.log(candidates);
                    createBallot(candidates);

                }
                function createBallot(candidates) {
                    var JSON_candidates = JSON.parse(JSON.stringify(candidates[0]));
                    var parties = JSON_candidates.parties;
                    console.log(parties);
                    var number_of_rows = Math.ceil(parties.length / 5);
                    console.log(number_of_rows);
                    

                    var table_body = '<table cellspacing="20"><tbody>';

                    table_body += '<tr>';
                    var count = 1;
                    parties.forEach(party => {
                        //party.prEthAddress    ----->returns string So converting string into array
                        var prEthAddress = party.prEthAddress.split(",");
                        console.log(prEthAddress);


                        table_body += '<td>';
                        table_body += '<img src="/img/' + parties.symbolFilename + '" id="' + prEthAddress[state-1] + '" height="64px" width="64px" float="left"/<br>' + '<input type="text" id="ethAddress" value=' + prEthAddress[state-1] + ' />';
                        table_body += '</td>';
                        if (count % 5 == 0) {
                            table_body += '</tr>';
                            table_body += '<tr>';
                        }
                        count++;
                    });

                    table_body += '</tr>';

                    table_body += '</tbody></table>';
                    $('#ballot').html(table_body);

                }

                $(document).ready(function () {
                    console.log(getCookie('booth_address'));
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:3500/candidate/pr/pa",
                        headers: { "booth_address": getCookie('booth_address') },
                        success: function (candidates) {
                            //console.log(candidates);
                            //createBallot(candidates);
                            callback(candidates);

                        }
                    });
                    console.log("ready function exiting");
                });


            </script>
            <script>








            </script>




            <div class='container' style='background-color: #f6afcf;'>

                <div class="table-responsive" id="ballot">

                    <!-- Ballot is loaded using createBallot function using loops. -->

                </div>
                <!--<button id="next_button" onclick="button_click()">Continue</button>-->
            </div>





    </body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        var loadingPopup = function () {
                swal({
                    text: "loading...",
                    onOpen: function () {
                        swal.showLoading();
                    },
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showConfirmButton: false
                });
            }

        $(document).on('click', 'td', function () {
            console.log('TD clicked');
            $(this).parents('table').find('td').each(function (index, element) {
                $(element).removeClass('clicked');
            });
            $(this).addClass('clicked');
            var eth = $("td.clicked input").val();
            console.log(eth);
            document.cookie = "pr_pa_ethAddress=" + eth;

            swal({
                title: "सहमत हुनुहुन्छ ?",
                text: "के तपाईले छान्नु भएको उमेद्वार ठिक छ ?",
                icon: document.getElementById(eth).src,
                dangerMode: false,

                buttons: ["रद्ध ", "कायम "],

            })
                .then((voteConfirmed) => {
                    if (voteConfirmed) {
                        $.ajax({
                                method: "POST",
                                url: "http://localhost:3500/voter/voted",
                                headers: { "token": getCookie("token") },
                                data: {
                                    "booth_address": getCookie('booth_address'),
                                    "token": getCookie('token'),
                                    "username": getCookie('username'),
                                    "fptp_hor_ethaddress": getCookie('fptp_hor_ethAddress'),
                                    "fptp_pa_ethaddress": getCookie('fptp_pa_ethAddress'),
                                    "pr_hor_ethaddress": getCookie('pr_hor_ethAddress'),
                                    "pr_pa_ethaddress": getCookie('pr_pa_ethAddress')
                                },
                                beforeSend: function () {
                                    loadingPopup();
                                },
                                success: function (validated) {

                                    window.location.href = '/start_voting';
                                },
                                error: function (result) {
                                    loadingPopdown();
                                    toast({
                                        type: "error",
                                        title: "Not Authenticated"
                                    });
                                }
                        });


                    }
                });

                       
                    
                



        });


    </script>

    </html>