<%- include('header', {title: "Register"});  -%>
    <script type="text/javascript" src="../plugins/sweetAlert2/sweetalert2.min.js"></script>
    <script>
        if(getCookie("booth_address")) {
            document.location.href = "/start_voting";
        }
    </script>

    </head>

    <body>
<center>
    <img src='/img/electioncommission.png' width='128px' height="128px" />
    <br>
        निर्वाचन आयोग 
    <h4>प्रतिनिधिसभा सदस्य तथा प्रदेशसभा सदस्य निर्वाचन, २०७५ </h4>
</center>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 form-container">
                    <form id="register-booth" class="form-horizontal registration-form">
                        <div class="form-group row">
                            <label for="adminID" class="col-4 col-form-label col-form-label-sm">AdminID</label>
                            <div class="col-8">
                                <input id="adminID" name="adminID" class="form-control here form-control-sm" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-4 col-form-label col-form-label-sm">Password</label>
                            <div class="col-8">
                                <input id="password" name="password" class="form-control here form-control-sm" required="required" type="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-4 col-form-label col-form-label-sm">Address</label>
                            <div class="col-8">
                                <input id="address" name="address" class="form-control here form-control-sm" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="number" class="col-4 col-form-label col-form-label-sm">Number</label>
                            <div class="col-8">
                                <input id="password" name="number" class="form-control here form-control-sm" required="required" type="number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="district" class="col-4 col-form-label col-form-label-sm">District</label>
                            <div class="col-8">
                                <select id="district" name="district" class="custom-select form-control-sm">
                                    <option value="Jhapa">Jhapa</option>
                                    <option value="Ilam">Ilam</option>
                                    <option value="Panchthar">Panchthar</option>
                                    <option value="Taplejung">Taplejung</option>
                                    <option value="Morang">Morang</option>
                                    <option value="Sunsari">Sunsari</option>
                                    <option value="Bhojpur">Bhojpur</option>
                                    <option value="Dhankuta">Dhankuta</option>
                                    <option value="Terhathum">Terhathum</option>
                                    <option value="Sankhuwasabha">Sankhuwasabha</option>
                                    <option value="Saptari">Saptari</option>
                                    <option value="Siraha">Siraha</option>
                                    <option value="Udayapur">Udayapur</option>
                                    <option value="Khotang">Khotang</option>
                                    <option value="Okhaldhunga">Okhaldhunga</option>
                                    <option value="Solukhumbu">Solukhumbu</option>
                                    <option value="Dhanusa">Dhanusa</option>
                                    <option value="Mahottari">Mahottari</option>
                                    <option value="Sarlahi">Sarlahi</option>
                                    <option value="Sindhuli">Sindhuli</option>
                                    <option value="Ramechhap">Ramechhap</option>
                                    <option value="Dolakha">Dolakha</option>
                                    <option value="Bhaktapur">Bhaktapur</option>
                                    <option value="Dhading">Dhading</option>
                                    <option value="Kathmandu">Kathmandu</option>
                                    <option value="Kavrepalanchok">Kavrepalanchok</option>
                                    <option value="Lalitpur">Lalitpur</option>
                                    <option value="Nuwakot">Nuwakot</option>
                                    <option value="Rasuwa">Rasuwa</option>
                                    <option value="Sindhupalchok">Sindhupalchok</option>
                                    <option value="Bara">Bara</option>
                                    <option value="Parsa">Parsa</option>
                                    <option value="Rautahat">Rautahat</option>
                                    <option value="Chitwan">Chitwan</option>
                                    <option value="Makwanpur">Makwanpur</option>
                                    <option value="Gorkha">Gorkha</option>
                                    <option value="Kaski">Kaski</option>
                                    <option value="Lamjung">Lamjung</option>
                                    <option value="Syangja">Syangja</option>
                                    <option value="Tanahun">Tanahun</option>
                                    <option value="Manang">Manang</option>
                                    <option value="Kapilvastu">Kapilvastu</option>
                                    <option value="Nawalparasi">Nawalparasi</option>
                                    <option value="Rupandehi">Rupandehi</option>
                                    <option value="Arghakhanchi">Arghakhanchi</option>
                                    <option value="Gulmi">Gulmi</option>
                                    <option value="Palpa">Palpa</option>
                                    <option value="Baglung">Baglung</option>
                                    <option value="Myagdi">Myagdi</option>
                                    <option value="Parbat">Parbat</option>
                                    <option value="Mustang">Mustang</option>
                                    <option value="Dang">Dang</option>
                                    <option value="Pyuthan">Pyuthan</option>
                                    <option value="Rolpa">Rolpa</option>
                                    <option value="Rukum">Rukum</option>
                                    <option value="Salyan">Salyan</option>
                                    <option value="Dolpa">Dolpa</option>
                                    <option value="Humla">Humla</option>
                                    <option value="Jumla">Jumla</option>
                                    <option value="Kalikot">Kalikot</option>
                                    <option value="Mugu">Mugu</option>
                                    <option value="Banke">Banke</option>
                                    <option value="Bardiya">Bardiya</option>
                                    <option value="Surkhet">Surkhet</option>
                                    <option value="Dailekh">Dailekh</option>
                                    <option value="Jajarkot">Jajarkot</option>
                                    <option value="Kailali">Kailali</option>
                                    <option value="Achham">Achham</option>
                                    <option value="Doti">Doti</option>
                                    <option value="Bajhang">Bajhang</option>
                                    <option value="Bajura">Bajura</option>
                                    <option value="Kanchanpur">Kanchanpur</option>
                                    <option value="Dadeldhura">Dadeldhura</option>
                                    <option value="Baitadi">Baitadi</option>
                                    <option value="Darchula">Darchula</option>

                                </select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="constituency" class="col-4 col-form-label col-form-label-sm">Constituency</label>
                            <div class="col-8">
                                <input id="constituency" name="constituency" class="form-control here form-control-sm" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <button name="submit" type="submit" class="float-right btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>


    </body>

    <style>
        .with-errors {
          height: 20px;
          font-size: 90%;
          color: red;
        }
      
        .form-container {
          padding: 4%;
          background-color: #F1F7FC;
        }
      
        .registration-form {
          background-color: white;
          padding: 8%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      </style>


    <script>
        $(function () {
            var loadingPopup = function () {
                swal({
                    text: "loading...",
                    onOpen: function () {
                        swal.showLoading();
                    },
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showConfirmButton: false
                });
            }
            var loadingPopdown = function () {
                swal.close();
            }
            function setCookie(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }
            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }
            function eraseCookie(name) {
                document.cookie = name + '=; Max-Age=-99999999;';
            }
            $("#register-booth").on("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    method: "POST",
                    url: "http://localhost:3500/register-booth",
                    data: {
                        "adminID": $("#adminID").val(),
                        "password": $("#password").val(),
                        "address": $("#address").val(),
                        "number": $("#number").val(),
                        "district": $("#district").val(),
                        "constituency": $("#constituency").val()
                    },
                    beforeSend: function () {
                        loadingPopup();
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.id) {
                            setCookie("booth_address", result.id, 1);
                            setCookie("district", $("#district").val(), 1);
                            setCookie("constituency", $("#constituency").val(), 1);
                            document.location.href = "http://localhost:4500/start_voting";
                        } else {
                            loadingPopdown();
                            alert("Authentication error");
                        }
                    }
                });
            });
        });
    </script>

    </html>