<%- include('header', {title: "Vote for Change"});  -%>
    <link rel="stylesheet" href="../plugins/QRScanner/style.css">
    <script>
        if (!getCookie("booth_address")) {
            document.location.replace('/');
        }
    </script>
    </head>
    </body>




    <div class='jumbotron form-container'>

        <div class='row login-box'>

            <div class='col-md-5 right'>
                <br />
                <br />
                <center>
                    <img src='/img/electioncommission.png' width='128px' height="128px" />
                    <br> निर्वाचन आयोग
                    <h4>प्रतिनिधिसभा सदस्य तथा प्रदेशसभा सदस्य निर्वाचन, २०७५ </h4>
                    </p>
                    <p id='district-name'></p>
                    <p>कृपया आफ्नो QR CODE क्यामरामा देखाउनुहोला ।</p>

                </center>
            </div>

            <div class='col-md-7'>
                <center>

                    <video class='float-left' id="preview" width="480px" height="320px"></video>
                </center>
            </div>
        </div>
    </div>



    <style>
        .right {
            border-right: 1px solid #ccc;
        }

        .with-errors {
            height: 20px;
            font-size: 90%;
            color: red;
        }

        .form-container {
            padding: 4%;
            background-color: #c6eafa;
        }

        .login-box {
            background-color: #F1F7FC;
            padding: 8%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        body {
            background-color: #c6eafa;
        }
    </style>

    <script src="https://unpkg.com/sweetalert2@7.21.1/dist/sweetalert2.all.js"></script>
    <script type="text/javascript" src="../plugins/QRScanner/instascan.min.js"></script>
    <script src="../plugins//sha256/jquery.sha256.min.js"></script>
    <script type="text/javascript">
        $('#district-name').text(getCookie('district') + ', ' + getCookie('constituency'));
        const toast = swal.mixin({
            toast: true,
            position: 'bottom-end',
            showConfirmButton: false,
            timer: 3000
        });
        var audio = new Audio('../plugins/QRScanner/beep.mp3');

        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        function IsJsonString(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }
        scanner.addListener('scan', function (content) {
            audio.play();
            var data;
            if (!IsJsonString(content)) {
                toast({
                    type: "error",
                    title: "Error! Invalid QR"
                });
            } else {
                data = JSON.parse(content);
                // var hash = $.sha256(data.pk);
                var hash = (data.pk);
                console.log('Value from qr:', hash)
                validateVoter(hash);
            }

        });
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });

        var loadingPopup = function () {
            swal({
                text: "loading...",
                onOpen: function () {
                    swal.showLoading();
                },
                allowOutsideClick: false,
                allowEscapeKey: false,
                showConfirmButton: false
            });
        }
        var loadingPopdown = function () {
            swal.close();
        }

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name + '=; Max-Age=-99999999;';
        }


        var validateVoter = function (pkHash) {
            var data = {
                "id": pkHash,
                "booth_address": getCookie("booth_address")
            };
            console.log(data);
            $.ajax({
                method: "POST",
                url: "http://localhost:3500",
                data: data,
                beforeSend: function () {
                    loadingPopup();
                },
                success: function (validated) {
                    console.log(validated);
                    setCookie("token", validated.token, 0.0069);
                    setCookie("username", validated.username, 0.0069);
                    //console.log(getCookie('token'));
                    loadingPopdown();
                    window.location.href = '/voting/fptp_hor';
                },
                error: function (xhr, text, result) {
                    loadingPopdown();
                    console.log('hello');
                    if (xhr.status == 500) {
                        toast({
                            type: "error",
                            title: "Server Error."
                        });
                    } else if (xhr.status == 404) {
                        toast({
                            type: "error",
                            title: "Voter not registered for this constituency."
                        });
                    } else if (xhr.status == 403) {
                        toast({
                            type: "error",
                            title: "Booth is forbidden."
                        });
                    } else if (xhr.status == 401) {
                        toast({
                            type: "error",
                            title: "You have already casted your vote."
                        });
                    }



                }
            });
        }


    </script>
    <%- include('footer'); -%>